---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Tiago Paes | Desenvolvedor De Software" description="Agentes de IA que atendem no WhatsApp." hideHeader>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white flex flex-col">
      <img class="rounded-full w-24 h-24 mb-2" src="https://avatars.githubusercontent.com/u/21131500?v=4" />
      <span>Tiago Paes</span>
      <span>Desenvolvedor De Software</span>
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            Desenvolvedor de software com foco em automações com inteligência artificial e desenvolvimento web.
          </p>

          <p class="animate">
            Tenho mais de 8 anos de experiência na área, atuando com desenvolvimento de APIs e sistemas web usando PHP e Laravel, e nos últimos anos, com foco em automações e projetos com inteligência artificial.
          </p>
        </article>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Entre em contato
        </h5>
        <article>
          <p>
            Estou aberto a novas conexões, colaborações e projetos sob demanda.
            Me chama no <Link href="https://www.linkedin.com/in/tiagopaees" external>LinkedIn</Link> ou envie um email para <Link href="tiago@tiagopaes.dev">tiago@tiagopaes.dev</Link>.
          </p>
        </article>
      </section>
    </div>
  </Container>
</PageLayout>
